body {

  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:  0px auto;
  padding: 10px auto;
  background-color : #f5f5f5; 
}

.header {
  margin-top: 10;
  text-align: center;
}

.headerspecialcase {
  margin-top: 10;
  text-align: center;
}

.Mcontent {
  background-color: #F0FFFF;
  height: 480px;
  margin-bottom: 1%;
  margin-top:1%;
  padding: 2%;
}

.Mcontent2 {
  margin-top: 1%;
  background-color: #F0FFFF;
  height: 500px;
  margin-bottom: 1%;
  padding: 2%;
}

.Mcontent3 {
  margin-top: 1%;
  background-color: #F0FFFF;
  height: 480px;
  margin-bottom: 1%;
  padding: 2%;
  text-align: center;
}

.Mcontent4 {
  margin-top: 1%;
  background-color: #F0FFFF;
  height: 600px;
  margin-bottom: 1%;
  padding: 2%;
}

.Mcontent5 {
  margin-top: 1%;
  background-color: #F0FFFF;
  height: 700px;
  margin-bottom: 1%;
  padding: 2%;
}

.Mcontent6 {
  margin-top: 1%;
  background-color: #F0FFFF;
  height: 1000px;
  margin-bottom: 1%;
  padding: 2%;
}

.footer {
	margin-bottom: 0;
	padding: 0px;
	text-align: center;
	background-color : #f5f5f5;
}

.input {
  padding: 5px;
  margin: 5px;
  border: 0;
  border-radius:2px;
  border:1.5px solid #0e7abb;
  
}

.input1 {
  padding: 5px;
  margin: 5px;
  border: 0;
  border-radius:2px;
  border:1.5px solid #0e7abb;
  width : 60%;
  
}

.input:focus {
	background: #fff;
	border:1.5px solid #1896e2;
}

.btn {
	background: #8B008B;
	color: #fff;
	width: 100%;
	text-transform: uppercase;
	border: 0;
	padding: 10px;
	margin: 0px;
	cursor: pointer;
}

.btn1 {
	background: #8B008B;
	color: #fff;
	width: 60%;
	text-transform: uppercase;
	border: 0;
	padding: 10px;
	margin: 0px;
	cursor: pointer;
}

.btn:hover {
	background: #8B008B;
}

.Lbtn {
	background: #8B008B;
	color: #fff;
	width: 65%;
	text-transform: uppercase;
	border: 0;
	padding: 10px;
	margin: 0px;
	cursor: pointer;
}

.Lbtn:hover {
	background: #9932CC;
}


.Lbtn1 {
	background: #8B008B;
	color: #fff;
	width: 65%;
	text-transform: uppercase;
	border: 0;
	padding: 10px;
	margin: 0px;
	cursor: pointer;
}

.Lbtn2 {
	background: #8B008B;
	color: #fff;
	width: 70%;
	text-transform: uppercase;
	border: 0;
	padding: 10px;
	margin: 0px;
	cursor: pointer;
}

.Lbtn3 {
	background: #8B008B;
	color: #fff;
	width: 60%;
	text-transform: uppercase;
	border: 0;
	padding: 10px;
	margin: 0px;
	cursor: pointer;
}

.Lbtn4 {
	background: #8B008B;
	color: #fff;
	width: 10%;
	text-transform: uppercase;
	border: 0;
	padding: 10px;
	margin: auto;
	cursor: pointer;
}


.menu {
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	margin: 10px 30px;
}

.menu:hover {
	font-size: 14px;
	color: black;
	background-color: #DDA0DD;
	margin: 10px 30px;
}

.Minput1 {
  padding: 5px;
  margin: 5px;
  border: 0;
  border-radius:2px;
  width: 60%;
  border:1.5px solid #0e7abb;
}

.Minput2 {
  padding: 5px;
  margin: 5px;
  border: 0;
  border-radius:2px;
  width: 65%;
  border:1.5px solid #0e7abb;
}

.Minput:focus {
	background: #fff;
	border:1.5px solid #1896e2;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	text-transform: uppercase;	
    color: black;
    padding: 10px 10px;
	margin: 10;
	text-decoration: none;	
}

.dropdown:hover .dropbtn {
    background-color: #DDA0DD;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #DDA0DD;
    min-width: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;	
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 10px 18px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #F0FFFF;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#drop-input{
  padding: 5px;
  margin: 5px;
  border: 0;
  border-radius:2px;
  width: 60%;
  border:1.5px solid #0e7abb;  
}